body{
    font-family: "Futura Lt BT";
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.body1-wrapper {
    text-align: center;
    background-color: #fff;
    padding: 0 5% 80px 5%;
    color: #2c5311;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
}

.heading h2 {
    font-weight: bold;
    font-family: "Futura Hv BT";
    font-size: 50px;
}

.heading p {
    font-size: 40px;
    line-height: 13px;
}

.menu {
    float:left;
    width: 25%;
}

.menu-icon img{
    height: 180px;
}

.text-contents {
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 25px
}